.par-1 {
  color: white;
  /* width: 400px; */
  background-color: rgb(67, 99, 136);
}

.par-2 {
  color: green;
}

.heading-2 {
  /* COLOR NAME */
  color: blue;
}

.par-3 {
  /*  RGB COLORS*/
  /* color: rgb(0, 0, 0); */
  color: rgb(255, 255, 255);
  /* background-color: rgb(0, 0, 0); */
  /* background-color: rgb(255, 0, 0); */
  /* background-color: rgb(0, 255, 0); */
  /* background-color: rgb(0, 0, 255); */
  /* background-color: rgb(0, 255, 255); */
  /* background-color: rgb(255, 255, 0); */
  /* background-color: rgb(255, 0, 255); */
  /* background-color: rgb(150, 150, 150); */
  /* background-color: rgba(30, 124, 201, 0.815); */

  /* HEX COLORS */
  /* background-color: #000000; */
  /* background-color: #ffffff; */
  /* background-color: #ff0000; */
  /* background-color: #00ff00; */
  /* background-color: #0000ff; */
  /* background-color: #ff00ff; */
  /* background-color: #ffff00; */
  /* background-color: #00ffff; */
  /* background-color: #777777; */
  /* background-color: #0000ffff; */
  /* background-color: #fff; */
  /* background-color: #fa7; */
  /* background-color: hsl(147, 50%, 47%); */
  background-color: hsla(147, 50%, 47%, 1);
}

heading-3 {
  background-color: aqua;
}

.span-1 {
  background-color: blue;
  color: #fff;
}

.text-box {
  text-align: center;
}

/* * {
  color: red;
  background-color: #000;
  text-align: center;
} */

.text-box-2 p {
  width: 300px;
  background: #ccc;
}

.text-box-2 > p {
  background: gold;
}

/* .text-box-content + p {
  color: red;
} */

.text-box-content ~ p {
  color: red;
}

a[href="https://kun.uz"]
{
  color: green;
  font-size: 24px;
}
a[href="https://daryo.uz"]
{
  color: blue;
  font-size: 36px;
}

/*  SPECIFICITY & PRIORITY */

/* 
  *            00001
ELEMENT        00010
CLASS          00100
ID             01000
!IMPORTANT     10000
*/

* {
  color: black;
}

p {
  color: green;
}

#par-5 {
  color: red;
}

.par-5 {
  color: blue;
}

/* TEXT DECORATION */
.par-6 {
  font-size: 36px;
  color: #000;
  /* text-decoration-line: line-through; */
  /* text-decoration-line: overline; */
  text-decoration-line: underline;
  /* text-decoration-line: none; */

  /* text-decoration-color: red; */

  /* text-decoration-style: dashed; */
  /* text-decoration-style: dotted; */
  /* text-decoration-style: wavy; */
  /* text-decoration-style: double; */
  text-decoration-style: solid;

  /* text-decoration-thickness: 5px; */

  /* SHORTHAND */
  text-decoration: underline red solid 5px;

  /* text-transform: uppercase; */
  /* text-transform: lowercase; */
  /* text-transform: capitalize; */

  /* text-indent: 100px; */
  /* letter-spacing: 20px; */
  /* line-height: 54px; */
  /* word-spacing: 200px; */
  /* white-space: wrap; */
  /* white-space: nowrap; */
  /* text-shadow: 2px 2px 5px #00f; */
}

.par-6::first-line {
  background: gold;
}

.par-6::first-letter {
  font-size: 96px;
}
